// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import './fontawesome/fontawesome';
@import './fontawesome/solid';
@import 'vue-notification.scss';
@import "print";

@import 'weapons-table';
@import 'weapon-grid';
@import 'tabs';


.tile-svg {
    width: 100%;
}

.card-upload {
    .figure {
        margin: 0;
    }
}

.figure-img {
    transition: width 0.2s ease-out, height 0.2s ease-out;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
    background: rgba(52, 144, 220, 0.15);
    color: inherit;
}

.btn-light {
    border: 1px solid #ced4da;
    background-color: #fff;
}

.b-dropdown {
    display: block;

    > .btn {
        display: block;
        width: 100%;
        text-align: left;

        &::after {
            margin-left: 0.5em;
            text-align: right;
            position: absolute;
            top: 50%;
            right: 1em;
        }
    }

    .dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
}

.ability-cost {
    opacity: 0.6;
}

.ability-selected {
    opacity: 1;
    color: $danger;
}

.ability-disabled {
    opacity: 0.6;
}

.header-row {
    font-weight: bold;
    margin-bottom: 0;
}

.header {
    background: $secondary;
    color: #fff;
    padding: 15px 0 5px;
    margin: 0 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
    margin: 0 0 20px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}


.footer {
    background: #fff;
    margin: 20px 0 0;
    padding: 16px 0 0 0;
    border-top: 1px solid #ebeef1;

    p {
        margin: 5px 0;
    }
}
