// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'open-iconic-bootstrap';
@import "print";

$scale: 2;
$font-size: 6.75pt * $scale;
$row-height: 9pt * $scale;
$row-height: 12pt * $scale;
$cell-width: 14pt * $scale;

$col-move-width: 30pt;
$col-controls-width: 100pt;
$col-arc-settings-width: 40pt;

$d4-color: #1B75BC;
$d6-color: #009444;
$d8-color: #FFDE17;
$d10-color: #F26522;
$d12-color: #ED1C24;

$gray-bg: rgba(88, 89, 91, 0.9);

$map: (
    D4: $d4-color,
    D6: $d6-color,
    D8: $d8-color,
    D10: $d10-color,
    D12: $d12-color,
    NONE: transparent
);

@each $key, $color in $map {
    .#{$key}-bg {
        background-color: $color;
    }
}

.weapon-grid {

    .weapon-grid-list {
        width: (152pt * $scale) + $col-controls-width + $col-move-width + ($col-arc-settings-width * 2);
    }

    .grid-header {
        font-weight: bold;
    }

    .grid-header,
    .weapon-grid-item {
        background: $gray-bg;
        color: #fff;

        font-size: $font-size;
        height: $row-height;
        line-height: $row-height;

        text-transform: uppercase;

        $shadow-color: rgba(0, 0, 0, 0.5);

        text-shadow: 0px 0px 1px $shadow-color,
        -1px -1px 1.5px $shadow-color,
        1px -1px 1.5px $shadow-color,
        -1px 1px 1.5px $shadow-color,
        1px 1px 1.5px $shadow-color;

        [class^=col-] {
            border: 1px solid #000;
        }

        display: flex;
        flex-wrap: nowrap;

        margin-right: ($grid-gutter-width / -2);
        margin-left: ($grid-gutter-width / -2);
    }

    .col-name {
        flex: 10;
        padding: 0 0 0 2pt;
    }
    .col-move {
        width: $col-move-width;
        cursor: move;
        text-align: center;
    }
    .col-quantity,
    .col-arc,
    .col-range,
    .col-ap,
    .col-at,
    .col-aa,
    .col-damage {
        width: $cell-width;
        text-align: center;
    }

    .col-arc-size,
    .col-arc-direction {
        width: $col-arc-settings-width;
        text-align: center;
    }

    .col-controls {
        width: $col-controls-width;
        line-height: inherit;
    }

    input.form-control {
        border-radius: 0;
        padding-left: 2px;
        padding-right: 2px;
        border: 0;
        text-align: center;
        height: $row-height;
        line-height: $row-height;
    }

    .arc {
        height: $row-height * 0.8;
    }
    .arc-up {

    }

    .arc-left {
        transform: rotate(-90deg);
    }

    .arc-right {
        transform: rotate(90deg);
    }

    .arc-down {
        transform: rotate(180deg);
    }

    .grid-header {
        .col-arc-size,
        .col-arc-direction {
            font-weight: normal;
        }
    }

    .select-arc-size,
    .select-arc-direction {
        width: $col-arc-settings-width;
    }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}



