@import 'tile-svg/font.scss';
@import 'tile-svg/titles.scss';
@import 'tile-svg/cut-line.scss';

.fill-gray {
    fill: #666766;
}

.icon-white {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 0.25pt;
    stroke-miterlimit: 10;
    paint-order: stroke;
}


@import 'die-colors';

@each $key, $color in $die-color-map {
    .#{$key}-bg {
        fill: $color;
    }
}

.icon-number {
    fill: #ffffff;
    font-size: 7pt;
    font-family: 'Roboto Condensed';
    text-align: center;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 0.5pt;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.icon-number-move {
    font-size: 6pt;
}

.weapon-grid-heading,
.weapon-grid-heading-left,
.weapon-grid-row {
    font-family: 'Roboto Condensed';
    font-size: 5pt;
    font-weight: bold;
    fill: #fff;
    text-align: center;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 0.5pt;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.weapon-grid-value-D8 {
    stroke-width: 0.75pt;
}

.weapon-grid-row,
.weapon-grid-row-left {
    font-weight: normal;
}

.weapon-grid-heading-left,
.weapon-grid-row-left {
    text-align: left;
    text-anchor: start;
}

.weapon-grid-block {
    fill: #58595B;
    fill-opacity: 0.9;
    stroke: #0C0C0C;
    stroke-width: 0.5pt;
    stroke-miterlimit: 10;
}

.damage-track-header-boxes {
    fill: #4A4B4D;
    stroke: #0C0C0C;
    stroke-width: 0.5pt;
    stroke-miterlimit: 10;
}

.damage-track-header-text,
.damage-track-result-text {
    font-family: 'Roboto Condensed';
    font-size: 5pt;
    font-weight: bold;
    fill: #fff;
    text-align: center;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 0.5pt;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.damage-track-result-boxes {
    fill: rgba(88, 89, 91, 0.9);
    stroke: #0C0C0C;
    stroke-width: 0.5pt;
    stroke-miterlimit: 10;
}

.damage-track-label {
    text-align: left;
    text-anchor: start;
}

.icon-damage {
    fill: #E6E7E8;
    stroke-width: 0.5pt;
    stroke: #000;
    paint-order: stroke;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}


.arc-circle,
.arc-fov {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.5pt;
}

.arc-circle {
    fill: #7f7f7f;
}

.arc-fov {
    fill: #0da1bc;
}


.icon-ability,
.icon-ama {
    fill: #ffffff;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 0.5pt;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.printer-friendly {
    .title,
    .subtitle,
    .icon-number,
    .icon-white,
    .damage-track-header-text,
    .damage-track-result-text,
    .weapon-grid-heading,
    .weapon-grid-heading-left,
    .weapon-grid-row,
    .icon-damage,
    .icon-ability,
    .icon-ama,
    .weapon-grid-value-D8 {
        fill: #000;
        stroke-width: 0;
    }

    .damage-track-header-boxes,
    .damage-track-result-boxes,
    .weapon-grid-block,
    .fill-gray,
    .fill-d4,
    .fill-d6,
    .fill-d8,
    .fill-d10,
    .fill-d12 {
        fill: #fff;
    }

    .arc-circle {
        fill: none;
    }

    .arc-fov {
        fill: #808080;
    }

    .bg-image {
        visibility: hidden;
    }

    @each $key, $color in $die-color-map {
        .#{$key}-bg {
            fill: none;
        }
    }
}
