$gray-bg: rgba(88, 89, 91, 0.9);

@import 'die-colors';

.weapon-grid {
    margin: 0 0 20px;
    font-size: 13.5pt;

    @each $key, $color in $die-color-map {
        .#{$key}-bg {
            background-color: $color;
        }
    }

    .weapon-grid-header,
    .weapon-grid-item {
        background: $gray-bg;
        color: #fff;
        text-transform: uppercase;
        $shadow-color: rgba(0, 0, 0, 0.5);

        text-shadow: 0px 0px 1px $shadow-color,
        -1px -1px 1.5px $shadow-color,
        1px -1px 1.5px $shadow-color,
        -1px 1px 1.5px $shadow-color,
        1px 1px 1.5px $shadow-color;

        th, td {
            border: 0.25pt solid #000;
            vertical-align: middle;
        }

        &.sortable-ghost {
            opacity: 1;
            background: lighten($gray-bg, 24%);
        }

        &.sortable-drag {
            // override vue-draggable inline style
            opacity: 0.9 !important;
            background: transparent;

            .col-move,
            .col-name {
                background: opacify($gray-bg, 1);
            }
        }
    }

    .col-move {
        cursor: move;
        text-align: center;
    }

    .weapon-grid-header {
        font-weight: bold;
    }

    .weapon-grid-header,
    .weapon-grid-item {

        th, td {
            padding: 3px 8px;

            &.col-name {
                font-weight: normal;
            }

            //&.col-name,
            &.col-quantity,
            &.col-arc,
            &.col-arc-direction,
            &.col-arc-size,
                //&.col-range,
            &.col-ap,
            &.col-at,
            &.col-aa,
            &.col-damage,
            &.col-tile-weapon-type,
            &.col-cost,
            &.col-total,
            &.col-controls {
                text-align: center;
            }

            &.col-name,
                //&.col-quantity,
                //&.col-arc,
            &.col-arc-direction,
            &.col-arc-size,
                //&.col-range,
                //&.col-ap,
                //&.col-at,
                //&.col-aa,
                //&.col-damage,
                //&.col-tile-weapon-type,
            &.col-cost,
            &.col-total,
            &.col-controls {
                font-weight: normal;
            }


            //&.col-name,
            &.col-quantity,
                //&.col-arc,
            &.col-arc-direction,
            &.col-arc-size,
                //&.col-range,
                //&.col-ap,
                //&.col-at,
                //&.col-aa,
                //&.col-damage,
            &.col-tile-weapon-type,
                //&.col-cost,
                //&.col-total
            {
                padding: 3px;
            }
        }

        td {
            &.col-range,
            &.col-cost,
            &.col-total {
                text-align: right;
                padding: 3px 8px;
            }
        }
    }

    .sortable-drag {
        .col-quantity,
        .col-arc,
        .col-arc-direction,
        .col-arc-size,
        .col-range,
        .col-ap,
        .col-at,
        .col-aa,
        .col-damage,
        .col-tile-weapon-type,
        .col-cost,
        .col-total,
        .col-controls {
            display: none !important;
        }
    }

    .weapon-grid-item {
        .input-quantity {
            width: 50px;
            display: inline-block;
        }

        input.form-control {

            padding-left: 2px;
            padding-right: 2px;
            border: 0;
            text-align: center;
            margin-top: 1pt;
        }

        select.form-control {
            border: 0;
            margin-top: 1pt;

            &[disabled] {
                background-color: rgba(255, 255, 255, 0.66);
            }
        }
    }

    .icon-indirect,
    .icon-ama {
        height: 24pt;
        float: right;
        display: none;

    }

    .is-indirect .icon-indirect,
    .icon-ama {
        display: inline;
    }

    .arc {
        height: 34px;
        vertical-align: top;
        margin-top: 1pt;
    }

    .arc-90 {
        background: url('/img/arc-90.svg') center center no-repeat;
    }

    .arc-180 {
        background: url('/img/arc-180.svg') center center no-repeat;
    }

    .arc-270 {
        background: url('/img/arc-270.svg') center center no-repeat;
    }

    .arc-360 {
        background: url('/img/arc-360.svg') center center no-repeat;
    }

    .arc-up {

    }

    .arc-left {
        transform: rotate(-90deg);
    }

    .arc-right {
        transform: rotate(90deg);
    }

    .arc-down {
        transform: rotate(180deg);
    }

    .weapon-grid-item-new {
        margin: 20px;
    }
}


.icon-indirect {
    height: 24pt;
    float: right;
    display: inline;
}

.number-cell {
    text-align: right;
    font-size: 12pt;
}

.number-zero {
    opacity: 0.6;
}

.number-positive {
    color: $success;
}

.number-negative {
    color: $danger;
}
